.tarefasCriadas {
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: bold;
}

.tarefasConcluidas {
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: bold;
}

.c_taskList__header {
    display: flex;
    justify-content: space-between;    
}

.c_taskList__taskCreated {
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
}

.c_taskList__info {
    background: var(--gray-400);
    color: var(--gray-100);
    padding: 2px 8px;
    border-radius: 12px;
}

.c_taskList__taskCompleted {
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
}